a{
    font-size: 25px;
    border-width:2px 0px 4px 0px;
    border-style:solid;
    border-color: black;
}
body{
    background: lightgray;
}
th{
    background: lightgoldenrodyellow;
    color: purple;
    border: 1px,solid,black;
}
a:hover{
    font-size: 30px;
    color:blueviolet;
}
span{
 color: red;
}