a{
    font-size: 25px;
}
body{
    background: lightgray;
}
th{
    background: lightgoldenrodyellow;
    color: purple;
    border: 1px,solid,black;
}
a:hover{
    font-size: 30px;
    color:blueviolet;
}